/* Your custom styles */

body {
  background: #efeff0;
}
.header {
  background: #efefef;
  padding: 20px 0;
  z-index: 999;
  position: relative;
}

.logo img {
  max-width: 50%;
  height: auto;
}

.categories a {
  font-family: "JetBrains Mono";
  color: #000;
  text-decoration: none;
  margin: 0 40px;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.btn-common {
  padding: 12px 32px;
  border-radius: 10px;
  font-family: "Satoshi";
  background: var(--072-c-49, #072c49);
  color: var(--white, #fff);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.btn-common:hover,
.btn-common:active,
.btn-common:focus {
  background: var(--072-c-49, #072c49);
  color: var(--white, #fff);
}

.mobile-nav {
  display: none;
}

.burger-menu,
.cross-menu {
  font-size: 24px;
  cursor: pointer;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.toggle-icon-container {
  text-align: end;
}

.hero-image-container {
  display: flex;
  justify-content: end;
}

.hero-image {
  max-width: 100%;
  width: 80%;
  margin-top: -15%;
  object-fit: cover;
}

.hero-content {
  background-image: url("./images/blur.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px 0;
}

.hero-image {
  background-image: url("./images/blur.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  /* padding: 100px 0; */
}

/* Your custom styles */
/* .content-section {
  background-image: url("./images/left-numbers-background.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  padding: 100px 0;
} */

.content {
  text-align: left;
}

.content h2 {
  color: #072c49;
  font-family: "JetBrains Mono";
  font-size: 70px;
  font-style: normal;
  font-weight: 800;
  line-height: 130%;
  letter-spacing: -3.5px;
  width: 735px;
}
.content p {
  color: var(--black, #191b1d);
  font-family: "Satoshi";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 36px */
  letter-spacing: 0.48px;
  margin-bottom: 30px;
}

.content .website {
  color: #41b262;
  font-family: "JetBrains Mono";
  font-size: 70px;
  font-style: normal;
  font-weight: 800;
  line-height: 130%;
  letter-spacing: -3.5px;
}

a.btn.btn-contact {
  background: var(--41-b-262, #41b262);
  font-family: "JetBrains Mono";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  padding: 12px 32px;
  border-radius: 10px;
  color: var(--white, #fff);
  border: 0;
}

a.btn.btn-blog {
  color: var(--white, #fff);
  font-family: "JetBrains Mono";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  padding: 12px 32px;
  border-radius: 10px;
  background: #072c49;
}

a.btn.btn-blog:hover,
a.btn.btn-blog:active,
a.btn.btn-blog:focus {
  color: var(--white, #fff);
  background: #072c49;
}

.button-links a {
  display: inline-block;
  margin-right: 20px;
}

.button-links a:last-child {
  margin-right: 0;
}

/* Your custom styles */
.perks-section {
  padding: 100px 0;
  text-align: center;
}

.mini-title {
  color: var(--41-b-262, #41b262);
  font-family: "Satoshi";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.main-title {
  color: var(--072-c-49, #072c49);
  font-family: "JetBrains Mono";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.96px;
  margin-bottom: 10%;
}

.testimonial-container {
  justify-content: space-around;
}

.testimonials-right {
  margin-top: 8%;
}

.testimonial {
  border-radius: 24px;
  background: var(--072-c-49, #072c49);
  padding: 20px 25px;
  margin-bottom: 20%;
  text-align: left;
  position: relative;
}

.testimonial-image {
  position: absolute;
  top: -50px;
  left: -50px;
  max-width: 20%;
}

.testimonial-title {
  color: var(--white, #fff);
  font-family: "JetBrains Mono";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.64px;
  padding-left: 12%;
  margin-bottom: 32px;
}

.testimonial-subtitle {
  color: var(--white, #fff);
  font-family: "Satoshi";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

/* ... (previous CSS code) ... */

/* .testimonial-section {
  background-image: url("./images/background-image.png");
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  color: white;
} */

.carousel {
  position: relative;
}

.review-item {
  border-radius: 32.494px;
  background: var(--072-c-49, #072c49);
  padding: 30px;
  text-align: left;
}
.stars {
  color: #ffd700;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: left;
}

.comment {
  margin: 50px 0;
  color: #fff;
  font-family: "Satoshi";
  font-size: 19.496px;
  font-style: normal;
  font-weight: 500;
  line-height: 180%;
}

.reviewer-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviewer {
  text-align: left;
}

.reviewer-name {
  font-family: "JetBrains Mono";
  font-size: 21.662px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  color: var(--41-b-262, #41b262);
}
.reviewer-designation {
  color: var(--white, #fff);
  font-family: "Satoshi";
  font-size: 17.33px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.review-logo img {
  max-width: 100px;
  display: block;
  margin: 0 auto;
}

/* ... (other CSS styles) ... */

.process-section {
  padding: 100px 0;
  text-align: center;
}

.process-divider {
  justify-content: space-evenly;
}

.process-testimonial {
  margin-bottom: 40px;
}

.process-section-right {
  margin-top: 12%;
}

.process-testimonial .testimonial-title {
  color: var(--072-c-49, #072c49);
  font-family: "JetBrains Mono";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 31.2px */
  margin-bottom: 25px;
}

.process-section-left .process-testimonial {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.process-section-right .process-testimonial h4 {
  padding: 0;
}

.process-section-right .process-testimonial p {
  text-align: left !important;
}

.process-section-right .process-testimonial {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.process-testimonial-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 25px;
}

.process-section-left .process-testimonial .testimonial-content {
  text-align: right;
}

.process-section .process-testimonial .testimonial-content {
  color: var(--black, #191b1d);
  text-align: right;
  font-family: "Satoshi";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

/* .works-section {
  background-image: url("./images/background-image.png");
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  text-align: center;
  color: #fff;
} */

.works-carousel .owl-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.works-carousel .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  margin: 0 5px;
}

.work-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

section.contact-section {
  margin: 10% 0;
}
.contact-form {
  border-radius: 24px;
  background: var(--072-c-49, #072c49);
  padding: 40px 30px;
}

h3.form-heading {
  color: var(--white, #fff);
  font-family: "JetBrains Mono";
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%; /* 36px */
  letter-spacing: -0.72px;
  margin-bottom: 50px;
}

.form-group label {
  color: var(--white, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 16px */
  margin: 15px 0;
}

.form-group .form-control {
  border-radius: 10px;
  border: 0.6px solid rgba(255, 255, 255, 0.2);
  background: var(--white, #fff);
  height: 50px;
}

.form-group .form-control:focus,
.form-group .form-control:active,
.form-group .form-control:hover {
  outline: 0 !important;
  border: 0 !important;
  box-shadow: none !important;
  transition: border-color none !important;
}

textarea#message {
  height: 160px;
}

.btn-submit.btn-block {
  margin: 25px 0;
  padding: 14px 24px;
  color: var(--white, #fff);
  font-family: "Satoshi";
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  border-radius: 10px;
  background: var(--41-b-262, #41b262);
  width: 100%;
  border: 0;
}

.btn-submit.btn-block:hover,
.btn-submit.btn-block:active,
.btn-submit.btn-block:focus {
  color: var(--white, #fff);
  background: var(--41-b-262, #41b262);
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 65px;
}

.contact-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.contact-text h4 {
  color: var(--072-c-49, #072c49);
  font-family: "JetBrains Mono";
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 28px */
  margin-bottom: 16px;
}

.contact-text p {
  color: var(--black, #191b1d);
  font-family: "JetBrains Mono";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 20px */
}

.contact-email span {
  color: var(--white, #fff);
  font-family: JetBrains Mono;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  background: var(--41-b-262, #41b262);
  padding: 20px;
  border-radius: 10px;
}
/* Add your custom CSS styles here */
/* .newsletter-section {
  margin: 10% 0;
  background-image: url("./images/background-image.png");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;
} */

section.newsletter-section {
  margin: 15% 0 10% 0;
}

.newsletter-section .newsletter-container {
  padding: 91px 108px 74px 116px;
  border-radius: 32px;
  background: var(--41-b-262, #41b262);
  backdrop-filter: blur(40px);
}
.newsletter-info .info-title {
  color: var(--white, #fff);
  text-align: center;
  font-family: "JetBrains Mono";
  font-size: 53.814px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: -2.242px;
  text-align: left;
}

.newsletter-info .info-detail {
  color: var(--white, #fff);
  text-align: center;
  font-family: "Satoshi";
  font-size: 22.422px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  text-align: left;
}

button.btn.btn-sign-up {
  background-color: #41b262;
  color: var(--white, #fff);
  text-align: center;
  border-radius: 50px !important;
  font-family: "Satoshi";
  font-size: 16.773px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 150px;
  height: 50px;
  padding: 10px !important;
  border: 0;
}

button.btn.btn-sign-up:active,
button.btn.btn-sign-up:focus {
  background-color: #41b262;
  color: var(--white, #fff);
}

.newsletter-form .input-group {
  position: relative;
  padding: 15px;
  background: var(--072-c-49, #072c49);
  border-radius: 50px;
}

.newsletter-form .input-group input {
  background: var(--072-c-49, #072c49);
  color: #fff;
}

.newsletter-form .input-group input::placeholder {
  color: #fff;
  /* font-family: 'Satoshi'; */
  font-size: 15.696px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.newsletter-form .input-group input.form-control,
.newsletter-form .input-group input.form-control:hover,
.newsletter-form .input-group input.form-control:focus,
.newsletter-form .input-group input.form-control:active {
  border: 0;
  outline: 0;
  box-shadow: none;
}

.newsletter-form input.form-control {
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.newsletter-image {
  display: flex;
  justify-content: end;
}

.newsletter-image img {
  max-width: 100%;
}

/* Add your custom CSS styles here */
.footer-section {
  background: var(--072-c-49, #072c49);
  padding: 50px 0 0 0;
}

.footer-info {
  margin-bottom: 20px;
}

.footer-logo img {
  max-width: 40%;
  height: auto;
}

.logo-text {
  color: #fff;
  font-family: "Satoshi";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 13px;
}

.footer-categories ul.list-unstyled {
  display: flex;
  gap: 40px;
}

.footer-categories ul.list-unstyled li a {
  color: var(--white, #fff);
  font-family: "JetBrains Mono";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
  text-decoration: none;
}

.footer-categories-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social-container {
  display: flex;
  justify-content: end;
  align-items: center;
}

.footer-title {
  font-size: 20px;
  margin-bottom: 15px;
}

.footer-categories ul {
  list-style: none;
  padding-left: 0;
}

.footer-categories li {
  margin-bottom: 5px;
}

.social-icons a {
  margin-left: 24px;
  color: var(--white, #fff);
  font-size: 24px;
}

.footer-line {
  border-top: 2px solid #ccc;
  margin: 20px 0;
}

.footer-copyright {
  color: var(--white, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

/* Header design  */

.categories ul {
  margin-bottom: 0;
}

/* Header design  */

@media screen and (max-width: 768px) {
  .perks-section {
    padding: 50px 0;
  }
}

@media screen and (max-width: 768px) {
  .content-section {
    padding: 50px 0;
  }
}
