/* Your custom styles */

body {
  background-color: #fff;
}
.header {
  background-color: #fff;
  /* padding: 20px 0; */
}

.logo img {
  max-width: 40%;
  height: auto;
}

.categories a {
  text-decoration: none;
  margin: 0 15px;
  color: var(--white, #000);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.btn-common {
  padding: 12px 32px;
  border-radius: 10px;
  background: var(--brand, #0ff);
  color: var(--black, #191b1d);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.btn-common:hover,
.btn-common:active,
.btn-common:focus {
  background: var(--brand, #0ff) !important;
  border-color: var(--brand, #0ff) !important;
}

.mobile-nav {
  display: none;
}

.burger-menu,
.cross-menu {
  font-size: 24px;
  cursor: pointer;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.toggle-icon-container {
  text-align: end;
}

/* Your custom styles */
.content-section {
  background-image: url("./images/background-image.png");
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}

.content {
  text-align: left;
}

.content h2 {
  color: #000;
  font-family: "JetBrains Mono";
  font-size: 70px;
  font-style: normal;
  font-weight: 800;
  line-height: 130%;
  letter-spacing: -3.5px;
  width: 735px;
}
.content p {
  color: var(--white, #000);
  font-family: "Satoshi";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 36px */
  letter-spacing: 0.48px;
  margin-bottom: 30px;
}

.content .website {
  color: #0ff;
  font-family: "JetBrains Mono";
  font-size: 70px;
  font-style: normal;
  font-weight: 800;
  line-height: 130%;
  letter-spacing: -3.5px;
}

a.btn.btn-contact {
  color: var(--black, #191b1d);
  font-family: "JetBrains Mono";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  padding: 12px 32px;
  border-radius: 10px;
  background: var(--l, linear-gradient(90deg, #00b9c9 0%, #0ff 100%));
  border: 0;
}

a.btn.btn-blog {
  color: var(--white, #fff);
  border: 1px solid #0ff;
  font-family: JetBrains Mono;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  padding: 12px 32px;
  border-radius: 10px;
  background: linear-gradient(
      0deg,
      rgba(0, 255, 255, 0.05) 0%,
      rgba(0, 255, 255, 0.05) 100%
    ),
    #040215;
}

a.btn.btn-blog:hover,
a.btn.btn-blog:active,
a.btn.btn-blog:focus {
  color: var(--white, #fff) !important;
  border: 1px solid #0ff !important;
  background: linear-gradient(
      0deg,
      rgba(0, 255, 255, 0.05) 0%,
      rgba(0, 255, 255, 0.05) 100%
    ),
    #040215 !important;
}

.button-links a {
  display: inline-block;
  margin-right: 20px;
}

.button-links a:last-child {
  margin-right: 0;
}

/* Your custom styles */
.perks-section {
  padding: 100px 0;
  text-align: center;
}

.mini-title {
  color: var(--brand, #0ff);
  font-family: "Satoshi";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.main-title {
  color: var(--white, #000);
  font-family: "JetBrains Mono";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.96px;
  margin-bottom: 20%;
}

.testimonial-container {
  justify-content: space-around;
}

.testimonials-right {
  margin-top: 8%;
}

.testimonial {
  border-radius: 24px;
  border: 1px solid var(--brand, #0ff);
  padding: 20px 25px;
  margin-bottom: 20%;
  text-align: left;
  position: relative;
}

.testimonial-image {
  position: absolute;
  top: -50px;
  left: -50px;
  max-width: 22%;
}

.testimonial-title {
  color: var(--white, #000);
  font-family: "JetBrains Mono";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.64px;
  padding-left: 12%;
  margin-bottom: 32px;
}

.testimonial-subtitle {
  color: #acacac;
  font-family: "Satoshi";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

/* ... (previous CSS code) ... */

.testimonial-section {
  background-image: url("./images/background-image.png");
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  color: white;
}

.carousel {
  position: relative;
}

.review-item {
  border-radius: 32.494px;
  border: 1px solid var(--brand, #0ff);
  background: #fff !important;
  box-shadow: 0px 5.415584564208984px 21.662338256835938px 0px
    rgba(0, 255, 255, 0.25);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px;
  text-align: left;
}
.stars {
  color: #ffd700;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: left;
}

.comment {
  margin: 50px 0;
  color: #000;
  font-family: "Satoshi";
  font-size: 19.496px;
  font-style: normal;
  font-weight: 500;
  line-height: 180%;
}

.reviewer-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviewer {
  text-align: left;
}

.reviewer-name {
  font-family: "JetBrains Mono";
  font-size: 21.662px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  background: var(--l, linear-gradient(90deg, #00b9c9 0%, #0ff 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.reviewer-designation {
  color: #000;
  font-family: "Satoshi";
  font-size: 17.33px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  opacity: 0.6;
}

.review-logo img {
  max-width: 100px;
  display: block;
  margin: 0 auto;
}

/* ... (other CSS styles) ... */

.process-section {
  padding: 100px 0;
  text-align: center;
}

.process-divider {
  justify-content: space-evenly;
}

.process-testimonial {
  margin-bottom: 40px;
}

.process-section-right {
  margin-top: 12%;
}

.process-testimonial .testimonial-title {
  font-family: "JetBrains Mono";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 31.2px */
  background: linear-gradient(90deg, #00f7f9 0%, #0ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 25px;
}

.process-section-left .process-testimonial {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.process-section-right .process-testimonial h4 {
  padding: 0;
}

.process-section-right .process-testimonial p {
  text-align: left !important;
}

.process-section-right .process-testimonial {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.process-testimonial-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 25px;
}

.process-section-left .process-testimonial .testimonial-content {
  text-align: right;
}

.process-section .process-testimonial .testimonial-content {
  color: #000;
  text-align: right;
  font-family: "Satoshi";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.works-section {
  background-image: url("./images/background-image.png");
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  text-align: center;
  color: #fff;
}

.works-carousel .owl-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.works-carousel .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  margin: 0 5px;
}

.work-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

section.contact-section {
  margin-top: 5%;
}

.contact-form {
  border: 1px solid var(--brand, #0ff);
  border-radius: 24px;
  background: #fff !important;
  padding: 20px;
}

h3.form-heading {
  color: var(--white, #000);
  font-family: "JetBrains Mono";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.72px;
  margin-bottom: 50px;
}

.form-group label {
  color: #979797;
  font-family: "Satoshi";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  margin: 15px 0;
}

.form-group .form-control {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(
    90deg,
    rgba(0, 185, 201, 0.1) 0%,
    rgba(0, 255, 255, 0.1) 100%
  );
  height: 50px;
}

.form-group .form-control:focus,
.form-group .form-control:active,
.form-group .form-control:hover {
  outline: 0 !important;
  border: 0 !important;
  box-shadow: none !important;
  transition: border-color none !important;
}

textarea#message {
  height: 160px;
}

.btn-submit.btn-block {
  margin: 25px 0;
  padding: 14px 24px;
  color: var(--black, #191b1d);
  font-family: "Satoshi";
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  border-radius: 10px;
  background: var(--l, linear-gradient(90deg, #00b9c9 0%, #0ff 100%));
  width: 100%;
  border: 0;
}

.contact-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-bottom: 60px;
}

.contact-icon img {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(
    90deg,
    rgba(0, 185, 201, 0.1) 0%,
    rgba(0, 255, 255, 0.1) 100%
  );
  border-radius: 50px;
}

.contact-text h4 {
  color: var(--white, #000);
  font-family: "Satoshi";
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 16px;
}

.contact-text p {
  color: var(--white, #000);
  font-family: "Satoshi";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

.contact-email span {
  color: var(--white, #000);
  font-family: "Satoshi";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  border: 1px solid var(--brand, #0ff);
  padding: 20px;
  border-radius: 10px;
}
/* Add your custom CSS styles here */
.newsletter-section {
  margin: 10% 0;
  background-image: url("./images/background-image.png");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;
}

.newsletter-section .newsletter-container {
  padding: 91px 108px 74px 116px;
  border: 1px solid var(--brand, #0ff);
  border-radius: 32px;
  backdrop-filter: blur(40px);
}
.newsletter-info .info-title {
  color: var(--white, #000);
  text-align: center;
  font-family: "JetBrains Mono";
  font-size: 53.814px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: -2.242px;
  text-align: left;
}

.newsletter-info .info-detail {
  color: #bfbfbf;
  text-align: center;
  font-family: "Satoshi";
  font-size: 22.422px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  text-align: left;
}

button.btn.btn-sign-up {
  background: var(--l, linear-gradient(90deg, #00b9c9 0%, #0ff 100%));
  color: var(--black, #191b1d);
  text-align: center;
  border-radius: 50px !important;
  font-family: "Satoshi";
  font-size: 16.773px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 150px;
  height: 50px;
  padding: 10px !important;
  border: 0;
}

button.btn.btn-sign-up:active,
button.btn.btn-sign-up:focus {
  color: var(--black, #191b1d);
}

.newsletter-form .input-group {
  position: relative;
  padding: 10px;
  border: 1px solid var(--brand, #0ff);
  border-radius: 50px;
}

.newsletter-form .input-group input.form-control,
.newsletter-form .input-group input.form-control:hover,
.newsletter-form .input-group input.form-control:focus,
.newsletter-form .input-group input.form-control:active {
  border: 0;
  outline: 0;
  box-shadow: none;
}

.newsletter-form input.form-control {
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.newsletter-image {
  display: flex;
  justify-content: end;
}

.newsletter-image img {
  max-width: 100%;
}

/* Add your custom CSS styles here */
.footer-section {
  padding: 40px 0;
}

.footer-info {
  margin-bottom: 20px;
}

.footer-logo img {
  max-width: 40%;
  height: auto;
}

.logo-text {
  font-family: "Satoshi";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.footer-categories ul.list-unstyled {
  display: flex;
  gap: 34px;
}

.footer-categories ul.list-unstyled li a {
  text-decoration: none;
  color: var(--white, #000);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.footer-categories-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social-container {
  display: flex;
  justify-content: end;
  align-items: center;
}

.footer-title {
  font-size: 20px;
  margin-bottom: 15px;
}

.footer-categories ul {
  list-style: none;
  padding-left: 0;
}

.footer-categories li {
  margin-bottom: 5px;
}

.social-icons a {
  margin-left: 24px;
  color: #333;
  font-size: 24px;
}

.footer-line {
  border-top: 2px solid #ccc;
  margin: 20px 0;
}

.footer-copyright {
  color: var(--white, #000);
  font-family: 'Satoshi';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

/* Header design  */

.categories ul {
  margin-bottom: 0;
}

/* Header design  */

@media screen and (max-width: 768px) {
  .perks-section {
    padding: 50px 0;
  }
}

@media screen and (max-width: 768px) {
  .content-section {
    padding: 50px 0;
  }
}
